<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucia.mascotasproyecto">

    <!-- add internet permission to allow sending the email -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MascotasFavoritas.MascotasFavoritas"
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".menuactivity.ContactoActivity"
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".menuactivity.AcercadeActivity"
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Instagram.ConfigurarCueInstagramActivity"
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Instagram.PerfilCuentaInstagramActivity"
            android:parentActivityName=".Instagram.TimeLineActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Instagram.TimeLineActivity" />
        </activity>
        <activity
            android:name=".Instagram.TimeLineActivity"
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menos -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <service
            android:name=".Notificaciones.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Notificaciones.NotificacionIDTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>